name: Streamlit Docker CI/CD

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Write Git Commit to file
      run: echo $GITHUB_SHA > build_version.txt
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Create version file
      run: echo "VERSION=$(date +'%Y.%m.%d.%H%M')-${{ github.sha }}" > version.env

    - name: Load version variable
      id: load_version
      run: |
        source version.env
        echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build \
          --no-cache \
          --build-arg VERSION=${{ env.VERSION }} \
          -t paruld/insurance_price:latest .

    - name: Push Docker image
      run: docker push paruld/insurance_price:latest


    

